In [1]:
# Task 1: Perform addition and concatenation using integers and strings separately

# Taking integer inputs
a = int(input("Enter first integer: "))
b = int(input("Enter second integer: "))
sum_result = a + b
print("Addition of integers:", sum_result)

# Taking string inputs
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")
concat_result = str1 + str2
print("Concatenation of strings:", concat_result)

Addition of integers: 9
Concatenation of strings: masudur rahman

In [ ]:
# Task 2: Check the type of a variable using type() function
# If it is float, convert to int and print both

num = float(input("Enter a floating-point number: "))
print("Original number:", num)
print("Type before conversion:", type(num))

if type(num) == float:
    num_int = int(num)
    print("After conversion to int:", num_int)
    print("Type after conversion:", type(num_int))

Original number: 12.5
Type before conversion: <class 'float'>
After conversion to int: 12
Type after conversion: <class 'int'>

In [ ]:
# Task 3: Create and print an f-string

name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"My name is {name} and I am {age} years old.")

My name is masudur and I am 20 years old.

In [ ]:
# Create a list of 5 numbers
numbers = [5, 10, 15, 20, 25]
print("Original List:", numbers)

# Append one number
numbers.append(30)
print("After Appending 30:", numbers)

# Remove one number
numbers.remove(15)
print("After Removing 15:", numbers)

Original List: [5, 10, 15, 20, 25]
After Appending 30: [5, 10, 15, 20, 25, 30]
After Removing 15: [5, 10, 20, 25, 30]

In [ ]:
# Create a tuple with 3 names
names = ("Zihan", "Rafi", "Sristy")
print("Tuple:", names)

# Print the second one
print("Second Name:", names[1])

Tuple: ('Zihan', 'Rafi', 'Sristy')
Second Name: Rafi

In [ ]:
student = {"name": "Zihan", "id": 22, "gpa": 3.85}
print("Student Dictionary:", student)

# Print all keys and values
print("Keys:", student.keys())
print("Values:", student.values())

Student Dictionary: {'name': 'Zihan', 'id': 22, 'gpa': 3.85}
Keys: dict_keys(['name', 'id', 'gpa'])
Values: dict_values(['Zihan', 22, 3.85])

In [ ]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Show union and intersection
print("Set 1:", set1)
print("Set 2:", set2)
print("Union:", set1.union(set2))
print("Intersection:", set1.intersection(set2))

Set 1: {1, 2, 3, 4}
Set 2: {3, 4, 5, 6}
Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}

In [ ]:
# Create a list with duplicates
duplicate_list = [10, 20, 10, 30, 20, 40]
print("Original List with Duplicates:", duplicate_list)

# Convert list to set to remove duplicates
unique_set = set(duplicate_list)
print("After Converting to Set (Duplicates Removed):", unique_set)

Original List with Duplicates: [10, 20, 10, 30, 20, 40]
After Converting to Set (Duplicates Removed): {40, 10, 20, 30}

In [ ]:
# Taking two numbers as input
a = float(input("Enter first number (a): "))
b = float(input("Enter second number (b): "))

# Performing arithmetic operations
print("Sum (a + b):", a + b)
print("Subtraction (a - b):", a - b)
print("Multiplication (a * b):", a * b)
print("Division (a / b):", a / b)

Sum (a + b): 44.0
Subtraction (a - b): -24.0
Multiplication (a * b): 340.0
Division (a / b): 0.29411764705882354

In [ ]:
print("a > b :", a > b)
print("a < b :", a < b)
print("a == b :", a == b)
print("a != b :", a != b)
print("a >= b :", a >= b)
print("a <= b :", a <= b)

a > b : False
a < b : True
a == b : False
a != b : True
a >= b : False
a <= b : True

In [ ]:
# Using logical operators to combine conditions
x = int(input("Enter value for x: "))
y = int(input("Enter value for y: "))

print("(x > 0 and y > 0):", (x > 0 and y > 0))
print("(x > 0 or y > 0):", (x > 0 or y > 0))
print("not(x > 0):", not(x > 0))

(x > 0 and y > 0): True
(x > 0 or y > 0): True
not(x > 0): False

In [ ]:
# Expression to evaluate
# Predict the output before running!
expression_result = a + b * 2 - (a / b)

print("Expression: a + b * 2 - (a / b)")
print("Predicted output: (depends on your inputs!)")
print("Calculated result:", expression_result)

Expression: a + b * 2 - (a / b)
Predicted output: (depends on your inputs!)
Calculated result: 77.70588235294117

In [ ]:
print("----- Task 1: Positive or Negative -----")
num = float(input("Enter a number: "))
if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

----- Task 1: Positive or Negative -----
The number is positive.

In [ ]:
print("\n----- Task 2: Even or Odd -----")
num = int(input("Enter an integer: "))
if num % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

----- Task 2: Even or Odd -----
The number is odd.

In [ ]:
print("\n----- Task 3: Largest of Two Numbers -----")
a = float(input("Enter first number (a): "))
b = float(input("Enter second number (b): "))

if a > b:
    print(f"The largest number is {a}")
elif b > a:
    print(f"The largest number is {b}")
else:
    print("Both numbers are equal.")

----- Task 3: Largest of Two Numbers -----
The largest number is 34.0

In [ ]:
score = float(input("Enter the score (0-100): "))

if score >= 90:
    grade = "A"
elif score >= 75:
    grade = "B"
elif score >= 50:
    grade = "C"
else:
    grade = "F"

print(f"The grade is: {grade}")

The grade is: F

In [ ]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

18 is not a leap year.

In [ ]:
for i in range(1, 11):
    print(i, end=" ")
print("\n")

1 2 3 4 5 6 7 8 9 10

In [ ]:
print("----- Task 2: Even numbers 2 to 20 -----")
for i in range(2, 21, 2):
    print(i, end=" ")
print("\n")

----- Task 2: Even numbers 2 to 20 -----
2 4 6 8 10 12 14 16 18 20

In [ ]:
sum_n = 0
i = 1
while i <= 10:
    sum_n += i
    i += 1
print("Sum =", sum_n)

Sum = 55

In [ ]:
print("\n----- Task 4: Break when number = 5 -----")
for i in range(1, 11):
    if i == 5:
        print("Breaking the loop at number =", i)
        break
    print(i, end=" ")
print("\n")

----- Task 4: Break when number = 5 -----
1 2 3 4 Breaking the loop at number = 5

In [ ]:
for i in range(1, 6):
    if i == 3:
        continue
    print(i, end=" ")
print("\n")

1 2 4 5

In [ ]:
def add(a, b):
    return a + b

x = float(input("Enter first number: "))
y = float(input("Enter second number: "))
print("Sum:", add(x, y))

Sum: 9.0

In [ ]:
def max_in_list(lst):
    max_val = lst[0]
    for num in lst:
        if num > max_val:
            max_val = num
    return max_val

numbers = [10, 25, 5, 80, 42]
print("List:", numbers)
print("Maximum number:", max_in_list(numbers))

List: [10, 25, 5, 80, 42]
Maximum number: 80

In [ ]:
def count_even(lst):
    count = 0
    for num in lst:
        if num % 2 == 0:
            count += 1
    return count

numbers = [1, 2, 3, 4, 5, 6]
print("List:", numbers)
print("Even numbers count:", count_even(numbers))

List: [1, 2, 3, 4, 5, 6]
Even numbers count: 3

In [ ]:

def reverse_list(lst):
    reversed_lst = []
    for i in range(len(lst)-1, -1, -1):
        reversed_lst.append(lst[i])
    return reversed_lst

numbers = [10, 20, 30, 40, 50]
print("Original List:", numbers)
print("Reversed List:", reverse_list(numbers))

Original List: [10, 20, 30, 40, 50]
Reversed List: [50, 40, 30, 20, 10]

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)

num = int(input("Enter a number to calculate factorial: "))
print(f"Factorial of {num} is {factorial(num)}")

Factorial of 4 is 24

In [45]:
import math

num = float(input("Enter a number to calculate square root: "))
sqrt_val = math.sqrt(num)
print(f"Square root of {num} is {sqrt_val}")

base = float(input("Enter the base number: "))
exp = float(input("Enter the exponent: "))
power_val = math.pow(base, exp)
print(f"{base} raised to the power {exp} is {power_val}")

Square root of 5.0 is 2.23606797749979
6.0 raised to the power 5.0 is 7776.0

In [49]:
from datetime import datetime
current_datetime = datetime.datetime.now()
print("Current date and time:", current_datetime)

# Optional: Print only date and time separately
print("Current date:", current_datetime.date())
print("Current time:", current_datetime.time())

Current date and time: 2025-10-28 16:59:45.586038